.card{
    flex-shrink: 0;
    flex-basis: auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 10px;
}
.title{
    font-size: 22px;
    font-weight: 500;
}
.con{
    padding: 8px 0;
    font-size: 14px;
}
.explore{
    all: unset;
    background-color: #016CE4;
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.imgbx{
    flex-shrink: 0;
    width: 120px;
    overflow: hidden;
    border-radius: 5px;
}