.redbx {
    background-color: #FCEFEA;
    border: 2px solid #f69f96;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    display: flex;
    padding: 10px  20px;
    align-items: center;
    gap: 24px;
    position: absolute;
    /* right: 20px; */
    bottom: 30px;
    cursor: pointer;
}

.errorsvg {
    width: 40px;
    flex-shrink: 0;
}

.bx {
    flex-shrink: 0;
    width: 80%;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(245, 75, 75);
}

.con {
    flex-shrink: 0;
    padding: 4px 0;
    font-size: 16px;
    width: 100%;
}
.cross{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 20px;
}
.cross:hover{
    background-color: rgba(245, 75, 75, 0.501);
}