.imgbx{
    width: 260px;
    height: 210px;
}
.imgset{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box{
    border-radius: 10px;
    overflow: hidden;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.name{
    font-size: 20px;
    font-weight: 600;
    padding: 8px 8px;
    padding-bottom: 2px;
}
.city{
    padding: 0 8px;
}
.price{
        font-size: 20px;
    font-weight: 600;
    padding: 8px 8px;
    text-align: center;
    background-color: #016CE4;
}