.horizontalcard{
    max-width: 1200px;
    border-radius: 8px;
    padding: 12px;
    margin: 24px auto;
    display: flex;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.imgbx{
    flex-shrink: 0;
    height: 250px;
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.hotelimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.con{
    flex-shrink: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.title{
    color: #016DE4;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.city{
    color: #016DE4;
}
.address{
    padding: 8px 0;
}
.btn{
    all: unset;
    cursor: pointer;
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: #016DE4;
    flex-shrink: 0;
    margin-left: auto;
}
.title:hover{
    text-decoration: underline;
}
.btn:hover{
    background-color: #0057B8;
}